*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
   /* justify-content: space-between;*/
   align-items: center;
    
    padding-top: 20px;  
}


.logo{
    background-image: url("logo-tshirt.png");
    height: 54px;
    width: 119px;
    background-size: cover;
    margin-left: 130px;
    margin-top: 40px;

}
.search-icon{
    width: 30px;
    height: 30px;
    
    margin-left: 250px;
}


.add-first{

    font-size: 0.85rem;
    
    margin: 30px;
    color: black;
  
}
.add-second{

    font-size: 0.85rem;
    
    margin: 30px;
    color: black;
  
  
}
.add-third{

    font-size: 0.85rem;
    
    margin: 30px;
    color: black;
  
}
.add-four{

    font-size: 0.85rem;
    
    margin: 30px;
    color: black;
  
}
.add-five{

    font-size: 0.85rem;
    
    margin: 30px;
    color: black;
}

.cart{
    margin-left: 100px;
}
.login{
    margin-left: 100px;
}

.box1{
    width: 800px;
    height: 800px;
    background-color: rgb(236,218,221);
    margin-top:10px;
}
.women{
    margin-top: 250px;
    margin-left: 25px;
    font-size: 15px;

}
.u{
    color:  rgb(236,218,221);
}
.font{
    width: 432px;
    height: 110px;
    color: black;
    margin-top: -10px;
  
    margin-left: 20px;
    font-size: 50px;
}

.b1{
    margin-left: 20px;
    color: black;
    margin-top: 5px;
    background-color: black;
    color: white;
   
   
}
.box2{
    height: 800px;
    width: 800px;
    margin-left: 800px;
    margin-top: -800px;
    background-image:url("women.png");
    background-size: cover;
    background-color: rgb(236,218,221);   

}
.h{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.hi{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

 .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     /* background-color: #e2e7e6; */
}

.boxx{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-img{
    height: 400px;
    width: 300px;
    background-size: cover;
}

.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxxx{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 100px;
    margin-left: -700px;

}
.box-ig{
    height: 400px;
    width: 550px;
    background-size: cover;
    margin-left: -40px;
}
.box-igg{
    height: 800px;
    width: 830px;
    background-size: cover;
    margin-left: 200px;
}
.me{
    margin-left: 150px;
}
.bu{
    margin-left: 130px;
    margin-top: 10px;
    background-color: black;
    font-size: 30px;
    color: white;
}
.big{
    font-size: 30px;
}
.boxy{
    height: 650px;
    width: 600px;
    background-color:rgb(236,218,221);
    margin-top: 430px;
    margin-left: 20px;
    margin-bottom: 50px;

}
.box-iggg{
    height: 600px;
    width: 450px;
    background-size: cover;
    margin-bottom: 50px;
}
.w{
   
    margin-left: 500px;
    margin-top: -420px;
    height: 200px;
    width: 1000px;
    font-size: 25px;
}
.gir{
    margin-left: -5px;
    font-size: 55px;

   
}
.par{
    margin-left: -5px;
    font-size: 20px;
}
.b{
    margin-left: -10px;
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
}
.sum{
    margin-top: 300px;
    margin-left: 790px;
    margin-bottom: 20px;
    font-size: 16px;
}
.sa{
    margin-top: -20px;
    margin-left: 750px;
    font-size: 36px;
   
}
.sid{
    height: 800px;
    width: 1600px;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     /* background-color: #e2e7e6; */
}

.bog{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-sj{
    height: 400px;
    width: 300px;
    background-size: cover;
}
.r{
    margin-top: 130px;
    margin-left: 720px;
    font-size: 50px;
}
.m{
    margin-top: 90px;
    margin-left: 550px;
    font-size: 20px;
    color: black;
}
.star{
    margin-left: 750px;
    margin-top: 30px;
    color: gold;
}
.ja{
    margin-left: 750px;
}
.sh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     /* background-color: #e2e7e6; */
}

.bov{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-ss{
    height: 600px;
    width: 550px;
    background-size: cover;
    margin-left: -120px;
    margin-bottom: 60px;
}
.x{
    margin-left: 140px;
    font-size: 20px;
    margin-top: -40px;
}
.y{
    margin-left: 140px;
    font-size: 20px;
    margin-top: -40px;
}
footer {
    margin-top: 250px;
}
.foot-panel1 {
    background-color:rgb(236,218,221);   
    color: black;
    height: 700px;
    width: 1600px;
 

}
.sub{
    margin-left: 680px;
    font-size: 16px;
    margin-top: 200px;
}
.to{
    margin-top: -450px;
    margin-left: 600px;
}
.bu1{
    margin-left: 520px;
    font-size: 16px;
    margin-top: 40px;
 
  width: 500px;
  height: 40px;
  background-color: white;
  padding-left: 5px;
}
.bu2{
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
}
.b{
    margin-left: 1000px;
    background-color: rgb(236,218,221); 
    color: gray; 
}
.f{
    margin-left: 900px;
    margin-top: -28px;
    color: gray;
}
.i{
    margin-left: 800px;
    margin-top: -20px;
    color: grey;
}
.n{
    margin-left:700px ;
    margin-top: -20px;
    color: grey;
}
.m{
    margin-left: 570px;
    margin-top: -20px;
    color: gray;
}
.in{
    margin-left: 840PX;
    margin-top: 150PX;
}
.tw{
    margin-left: 780px;
    margin-top: -20px;
}
.fb{
    margin-left: 720px;
    margin-top: -20px;
}
.foo{
    margin-top: 50px;
    margin-left: 0px;
    height: 200px;
    background-color: black;
    width: 1800px;
    
}
.co{
    
    margin-left: 600px;
    margin-top: -100px;
    color: white;
    
}